<div php-extends="common/base"></div>

<ul class="nav nav-pills nav-stacked"
    php-block="sub-menu"
    data-active-nav="{:think_one_url('log')}"
    data-active-menu="{:think_one_url('log')}">
    <menu php-include="log/menu"></menu>
</ul>

<div php-block="main">
    <h4>日志列表</h4>
    <table class="table table-bordered">
        <tr>
            <td>年月</td>
        </tr>
        <tr php-repeat="$list as $date">
            <td>
                <a href="{:think_one_url('log/month?month=' . $date)}">{:substr($date, 0, 4)}-{:substr($date, 4, 2)}</a>
            </td>
        </tr>
    </table>
</div>